
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import "_null";

body {
	line-height: 1;
	font-family: "Roboto";
	background-color: #635a5a;
	color: rgb(28, 25, 25);
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

//-------------------------------------------------------------

.wrapper {
}

.main {
		// .main__container
		&__container {
		}

		// .main__block
		&__block {
			
		}
}

.block-main {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	row-gap: 50px;
		// .block-main__title
		&__title {
			font-size: 20px;
		}

		// .block-main__nav
		&__nav {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 20px;
		}

		// .block-main__list
		&__list {
		}

		// .block-main__link
		&__link {
			display: inline-flex;
			color: rgb(71, 61, 64);
			transition: all 0.3s ease 0s;
			border: 2px solid rgb(169, 148, 144);
			border-radius: 8px;
			padding: 10px 15px;
			font-size: 18px;
			@media (any-hover: hover){
				&:hover{
					color: #ac9e9e;
					background-color: #57515192;
				}
			}
		}
}



